
/* properties for the whole HTML pages */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


/* Navigation bar for both pages */

.navbar{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
   
}
.navbar ul{
 display: flex;
 list-style: none;
 margin: 20px 0px;
 opacity: 1.5;
 }
 .navbar ul li{
      font-family: 'Noto Serif Display', serif;
      font-size: 28px;
      font-weight: bold;

 }
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px  20px;
    transition: all 5s ease;
}
.navbar ul li a:hover{
    background-color: #EDFFEB;
    color: black;
    box-shadow: 0 0 10px rgb(27, 48, 27); 
}




/* Components for all Pages */
.headings{
   font-family: century;
    font-size: 60px;
    text-align: center;
    margin: 40px 0px;
    color: #EDFFEB;
  text-shadow: 2px 2px black; 
 }
 /* footer */
    footer{
      height: 80px;
      padding: 20px;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      color:#EDFFEB;
      margin-top: auto; 
      bottom: 0px;
      font-size: 1rem;
      font-weight: bold;
      
    }
   html{
      height: 100%
    }

/* Home Section */
 #home{
  background:url('img/hpback.jpg');
  background-size:cover;
        background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;
   height: 100%;
     width: 100%;
     z-index: -1;
 } 
 /* body */
 body {
  width: auto;
  height: auto;
  /* font-size: 18px; */
  font-family: "Noto Sans";
}
/* header for the title */
#home_header {
  /* width: 100vw; */
  height: 100vh;
  box-shadow: 3px 3px 2px #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

}

#home_title {
  font-size: 3.5em;
}

#home_text {
  font-size: 1.3em;
  margin-top: 2%;
}

#home_button {
  border: solid 2px white;
  background-color: inherit;
  color: white;
  margin-top: 6%;
  width: 25%;
  height: 55px;
  font-size: 15px;
  border-radius: 10px;
}

#home_button:hover {
  cursor: pointer;
}
@media screen and (Max-width: 600px) {
    .headings{
     font-size: 40px;
    }
  }

 

  

 /* About & Professional Knowledge Page */
 
 /*background for about */
 #about{
 background: url('img/polaroid55.jpg'); /* after I had received feedback from my presentation i changed my background colour to match my colour scheme */
 background-size: cover;
background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;; 
}
 
/* containing all the content for About page */
 .about_container{
 display: flex;
 justify-content: center; 
 align-items: center; 
 flex-flow: column;
 flex-direction: column;
 gap: 2rem;
 padding-block: 30px;
 padding-bottom: 100px;
 min-height: 100%;
 }

/* polaroid cards */
 .about_card{
   background-color: #96B09D; /*#4a966980 */
   outline-style: solid;
   outline-color: black;
   box-shadow: 7px 5px black;
   display:flex;
   flex-direction: column;
   padding: 20px;
   width: 550px;
   height: 550px;
 }

/* about polaroid individual card  */
 .about_card1{
  background-color: #96B09D; /*#4a966980 */
  box-shadow: 0px 0px 10px black;
  outline-style:solid;
  outline-color: black;
  display:flex;
  flex-direction: column;
  padding: 20px;
  width: 550px;
  height: 550px;
  flex: 1;
}
 /* about polaroid individual card text */
 .about_card1 .text_about{
  color: white;
 font-family: 'Gloria Hallelujah', cursive;
 font-weight: 300;
 font-size: 15px;
 padding: 1 px;
  
}
/* text for the two remaining polaroid cards */
.text_about{
  color: white;
 font-family: 'Gloria Hallelujah', cursive;
 font-weight: 300;
 font-size: auto;
 padding: 10px;


}
/* Image for polaroids */
.img_about{
  width: 500px;
  height: 430px;
  overflow:hidden;
  
}
 
 /* download button for my CV */
.d_btn{
  background-color: #96B09D;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.d_btn:hover {
  background-color: #07381C;
}

  

  ion-icon{
   color: #edffeb;
   font-size: 64px;
 }

 ion-icon:hover{
   color: #4f6956;
 }
 
 /* Media Queries */
 @media only screen and (max-width: 768px) {
  
    .about_container{
      
      padding-block: 10px;
    }
   .text_about{
     font-size: 20px;
   }
    }

 @media only screen and (max-width: 320px) {
  .navbar ul li{
    font-size: .5rem;
   }
  .about_container{
   display:
  }
 }  