*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
     
  
      /* navigation bar */
    .navbar{
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        position: sticky;
        top: 0;
       
    }
    .navbar ul{
     display: flex;
     list-style: none;
     margin: 20px 0px;
     }
     .navbar ul li{
         font-family: 'Noto Serif Display', serif;
          font-size: 1rem;
          font-weight: bold;
    
     }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 8px  20px;
        transition: all 5s ease;
    }
    .navbar ul li a:hover{
        background-color: white;
        color: black;
        box-shadow: 0 0 10px green; 
    }