*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Navbar */

.navbar{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
   
}
.navbar ul{
 display: flex;
 list-style: none;
 margin: 20px 0px;
 opacity: 1.5;
 }
 .navbar ul li{
      font-family: 'Noto Serif Display', serif;
      font-size: 1rem;
      font-weight: bold;

 }
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px  20px;
    transition: all 5s ease;
}
.navbar ul li a:hover{
    background-color: #EDFFEB;
    color: black;
    box-shadow: 0 0 10px green; 
}
 

/* Components for all Pages */
.headings{
   font-family: century;
    font-size: 60px;
    text-align: center;
    margin: 40px 0px;
    color: #EDFFEB;
  text-shadow: 2px 2px black; 
 }
 
    .footer{
      height: 80px;
      padding: 20px;
      text-align: center;
      background: #ddd;
      margin-top: auto; 
      bottom: 0px;}

/* Home Section */
 #home{
  background:url('img/hpback.jpg');
  position: absolute ;
  background-size: cover;
  background-repeat: no-repeat; 
   height: 100%;
     width: 100%;
     z-index: -1;
 } 


 .h_headings{
  font-family: century;
   font-size: 60px;
   text-align: center;
   margin: 250px 0px;
   color: #EDFFEB;
 text-shadow: 2px 2px black; 
}

  .main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
    
    
  }


 

  @media screen and (Max-width: 600px) {
    .headings{
     font-size: 40px;
    }
  }

 /* About & Professional Knowledge Page */
 
 #about{
 background: url('img/polaroid5.jpg');
 background-size: cover;
 background-repeat: no-repeat; 
}
 

 .about_container{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-content: center;
 gap: 2rem;
 padding-block: 10px;
 }

 .about_card{
   background-color:#4a966980;
   box-shadow: 5px 5px black;
   display:flex;
   flex-direction: column;
   padding: 20px;
   width: 550px;
   height: 550px;
 }

.text_about{
  color: white;
 font-weight: 300;
 padding: 10px;


}
.img_about{
  height:fit-content;
  width: 100%;
}
 
 
  .d.btn{
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.d.btn:hover {
  background-color: RoyalBlue;
}

 @media only screen and (max-width: 768px) {
  
    .about_container{
      
      padding-block: 10px;
    }
   .text_about{
     font-size: 20px;
   }
    }

 @media only screen and (max-width: 375px) {
  .navbar ul li{
    font-size: .5rem;
   }
 }    




 
