*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       
  } 
  
      /* navigation bar */
    .navbar{
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        position: sticky;
        top: 0;
       
    }
    .navbar ul{
     display: flex;
     list-style: none;
     margin: 20px 0px;
     }
     .navbar ul li{
         font-family: 'Noto Serif Display', serif;
          font-size: 1rem;
          font-weight: bold;
    
     }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 8px  20px;
        transition: all 5s ease;
    }
    .navbar ul li a:hover{
        background-color: white;
        color: black;
        box-shadow: 0 0 10px green; 
    }

   /* components for both pages */
    .headings{
        font-family: century;
         font-size: 60px;
         text-align: center;
         margin: 40px 0px;
         color: #EDFFEB;
       text-shadow: 2px 2px black; }

       .footer{
        height: 80px;
        padding: 20px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        color:#EDFFEB;;
        margin-top: auto;
        font-size: 1rem;
        font-weight: bold;
        bottom: 0px;}

        html{
            height:100%;
            font-family: 'Noto Serif Display', serif;

        }


     #projects{
        background:url('img/whiteclouds.jpg')
    }  
    
    .project_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .project_img{
       width: 500px;
       height: 500px; 
    }


    /*contact*/

    #contact{
    background:url('img/updatedcontact.jpg')center;
     font-family: Arial, Helvetica, sans-serif;
     background-size: cover ;
     background-repeat: no-repeat
     paddingL 40px 0;
    }


 .c_heading{
    font-family: century;
    font-size: 40px;
    text-align: center;
    /* margin: 40px 0px; */
    color:#EDFFEB;
    text-shadow: 4px 2px black;
 }

 .sub_heading{
    font-family: century;
    font-size: 20px;
    text-align: center;
    color:#EDFFEB;
    text-shadow: 2px 2px black; 
 }

 .contact_form{
     min-height:100%;
     max-width: 600px;
     margin: auto;
     padding: 0 10px;
     overflow: auto;
     padding-bottom: 100px;
    
 }

 .contact_form_text{
     display: block;
     width: 100%;
     box-sizing: border-box;
     margin: 16px 0;
     border: 0;
     background: #111;
     padding: 20px 40px;
     outline: none;
     color: #ddd;
     transition: 0.5s;

     }
     .contact_form_text:focus{
         box-shadow: 0 0 10px 4px  #4f6956;   /* #34495e; */
    }
 textarea.contact_form_text{
     resize: none;
     height: 120px;
 }

 .contact_form_btn{
     display: flex;
     align-items:center;
     background: #96B09D;
     color: #292725;
     padding: 12px 50px;
     border-radius: 20px;
     cursor: pointer;
     transition: 0.5s;
 }
 
 .contact_form_btn:hover{
     background: #07381C ;
     color: #EDFFEB;

 }

 ion-icon{
    color: #edffeb;
    font-size: 64px;
  }
  ion-icon:hover{
    color: #4f6956;
  }
  
  .socials{
      display: flex;
      justify-content: center;
      align-items: center;
  }




    