*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


/* Navbar */

.navbar{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
   
}
.navbar ul{
 display: flex;
 list-style: none;
 margin: 20px 0px;
 opacity: 1.5;
 }
 .navbar ul li{
      font-family: 'Noto Serif Display', serif;
      font-size: 1rem;
      font-weight: bold;

 }
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px  20px;
    transition: all 5s ease;
}
.navbar ul li a:hover{
    background-color: #EDFFEB;
    color: black;
    box-shadow: 0 0 10px green; 
}
 

/* Components for all Pages */
.headings{
   font-family: century;
    font-size: 60px;
    text-align: center;
    margin: 40px 0px;
    color: #EDFFEB;
  text-shadow: 2px 2px black; 
 }
 
    .footer{
      height: 80px;
      padding: 20px;
      text-align: center;
      background: #ddd;
      margin-top: auto; 
      bottom: 0px;
      font-size: 1rem;
      font-weight: bold    
    }

/* Home Section */
 #home{
  background:url('img/hpback.jpg');
  position: absolute ;
  background-size: cover;
  background-repeat: no-repeat; 
   height: 100%;
     width: 100%;
     z-index: -1;
 } 


 .h_headings{
   font-family:'Noto Serif Display', serif;
   font-size: 60px;
   text-align: center;
   margin: 250px 0px;
   color: #EDFFEB;
 text-shadow: 2px 2px black; 
}

.h_subheadings{
   font-family:'Noto Serif Display', serif;
   font-size: 40px;
   text-align: center;
   margin: 250px 0px;
   color: #EDFFEB;
 text-shadow: 2px 2px black; 
}

  .main{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
    
  }


 

  @media screen and (Max-width: 600px) {
    .headings{
     font-size: 40px;
    }
  }

 /* About & Professional Knowledge Page */
 html{
   height: 100%
 }
 #about{
 background: url('img/polaroid5.jpg');
 background-size: cover;
 background-repeat: no-repeat; 
}
 

 .about_container{
 display: flex;
 justify-content: center; 
 align-items: center; 
 flex-flow: column;
 flex-direction: column;
 gap: 2rem;
 padding-block: 30px;
 padding-bottom: 100px;
 min-height: 100%;
 }

 .about_card{
   background-color: #96B09D; /*#4a966980 */
   box-shadow: 5px 5px black;
   display:flex;
   flex-direction: column;
   padding: 20px;
   width: 550px;
   height: 550px;
 }

 .about_card1{
  background-color: #96B09D; /*#4a966980 */
  box-shadow: 5px 5px black;
  display:flex;
  flex-direction: column;
  padding: 20px;
  width: 550px;
  height: 550px;
  flex: 1;
}

 .about_card1 .text_about{
  color: white;
 font-family: 'Gloria Hallelujah', cursive;
 font-weight: 300;
 font-size: 15px;
 padding: 1 px;
  
}

.text_about{
  color: white;
 font-family: 'Gloria Hallelujah', cursive;
 font-weight: 300;
 font-size: auto;
 padding: 10px;


}
.img_about{
  height:fit-content;
  overflow:hidden;
  width: 100%;
}
 
 
.d_btn{
  background-color: #96B09D;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.d_btn:hover {
  background-color: #07381C;
}

 @media only screen and (max-width: 768px) {
  
    .about_container{
      
      padding-block: 10px;
    }
   .text_about{
     font-size: 20px;
   }
    }

 @media only screen and (max-width: 375px) {
  .navbar ul li{
    font-size: .5rem;
   }
 }    

  ion-icon{
   color: #edffeb;
   font-size: 64px;
 }

 ion-icon:hover{
   color: #4f6956;
 }
 
