 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      } 

      /* navigation bar */
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        position: sticky;
        top: 0;
       
    }
    .navbar ul{
     display: flex;
     list-style: none;
     margin: 20px 0px;
     }
     .navbar ul li{
          font-family: century;
          font-size: 1rem;
          font-weight: bold;
    
     }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 8px  20px;
        transition: all 5s ease;
    }
    .navbar ul li a:hover{
        background-color: white;
        color: black;
        box-shadow: 0 0 10px green; 
    }
    
    body {
        font-family: "Quicksand", sans-serif;
        display: grid;
        place-items: center;
        height: 100vh;
        background: 
      }
      
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        margin-block: 2rem;
        gap: 2rem;
      }
      
      img {
        max-width: 100%;
        display: block;
        object-fit: cover;
      }
      
      .card {
        display: flex;
        flex-direction: column;
        width: clamp(20rem, calc(20rem + 2vw), 22rem);
        overflow: hidden;
        box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        background: #ECE9E6;
      background: linear-gradient(to right, #158346, #0e4434);
      
      }
      
      
      .card__body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
      }
      
      
      
      
      
      .card__body h4 {
        font-size: 1.5rem;
        text-transform: capitalize;
      }
      
      .card__footer {
        display: flex;
        padding: 1rem;
        margin-top: auto;
      }
      
      .ion-icon{
        color:green;
        vertical-align: middle;
        font-size: 1.2rem;
        margin-right: .5rem;
        }
       
        .readmore .btn{
          text-decoration: none;
          color: black;
          font-weight: 400;  
        }

 