
/* properties for the whole HTML pages */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
} /* im not sure what this purpose is for but ive seen this attribute it on many tutorials*/


/* Navigation bar for both pages */

.navbar{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
   
}
.navbar ul{
 display: flex;
 list-style: none;
 margin: 20px 0px;
 opacity: 1.5;
 }
 .navbar ul li{
      font-family: 'Noto Serif Display', serif;
      font-size: 28px;
      font-weight: bold;
     

 }
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px  20px;
    transition: all 5s ease;
}
.navbar ul li a:hover{
    background-color: #EDFFEB;
    color: black;
    box-shadow: 0 0 10px green; 
}




/* Components for all Pages */
.headings{
    font-size: 60px;
    text-align: center;
    margin: 35px 0px;
    color: #EDFFEB;
  text-shadow: 2px 2px black; 
 }
 .sub_headings{
   font-size: 40px;
   text-align: center;
   margin: 35px 0px;
   color: #EDFFEB;
 text-shadow: 2px 2px black; 
}
    footer{
      height: 80px;
      padding: 20px;
      text-align: center;
      background: #292725;
      color:#EDFFEB;
      margin-top: auto; 
      
      font-size: 18px;
      font-weight: bold;
      
      
    }
   html{
      height: auto
    }

/* Home Section */
 #home{
  background:url('../img/hpback.jpg');
  background-size:cover;
        background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;
   
 } 
 /* body */
 body {
  width: auto;
  height: auto;
  font-family: "Noto Sans";
}
/* title for home page*/
#home_header {
  
  height: 100vh;
  box-shadow: 3px 3px 2px #bebebe;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

}

#home_title {
  font-size: 3.5em;
}

#home_text {
  font-size: 1.3em;
  margin-top: 2%;
}

#home_button {
  border: solid 2px white;
  background-color: inherit;
  color: white;
  margin-top: 6%;
  width: 25%;
  height: 55px;
  font-size: 15px;
  border-radius: 10px;
}

#home_button:hover {
  cursor: pointer;
}                                                 
@media screen and (Max-width: 600px) {
    #home_title{
     font-size: 40px;
    }
  }

 

  

 /* About & Professional Knowledge Page */
 
 /*background for about */
 #about{
 background: url('../img/polaroid55.jpg'); /* after I had received feedback from my presentation i changed my background colour to match my colour scheme */
 background-size: cover;
background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;
           
}
 
/* containing all the content for About page */
 .about_container{
 display: flex;
 justify-content: center; 
 align-items: center; 
 flex-flow: column;
 flex-direction: column;
 gap: 2rem;
 padding-block: 30px;
 padding-bottom: 100px;
 min-height: 100%;
 }
 .row{
   display:flex;
   flex-direction: row;
   gap: 20px;
  

 }

/* polaroid cards */
 .about_card{
   background-color: #96B09D; /*#4a966980 */
   outline-style: solid;
   outline-color: black;
   box-shadow: 7px 5px rgba(0, 0, 0, 0.5);
   padding: 20px;
   width: 500px;
   height: auto;
 }

/* about polaroid individual card  */
 .about_card1{
  background-color: #96B09D; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  outline-style:solid;
  outline-color: black;
  padding: 20px;
  width: 500px;
  height: auto;
  
}
 /* about polaroid individual card text */
 .about_card1 .text_about{
  color: black;
 font-family: 'Gloria Hallelujah', cursive;
 font-weight: 300;
 font-size: 20px;
 padding: 1px;
  
}
/* text for the two remaining polaroid cards */
.text_about{
  color: black;
 font-family: 'Gloria Hallelujah', cursive;
 font-weight: 300;
 font-size: 20px;
 padding: 10px;


}
/* Image for polaroids */
.img_about{
  width: 450px;
  height: 430px;
  
  
}
 
 /* download button for my CV */
.d_btn{
  background-color: #96B09D;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.d_btn:hover {
  background-color: #07381C;
}

  
/* social media links */
  ion-icon{
   color: #edffeb;
   font-size: 64px;
 }

 ion-icon:hover{
   color: #4f6956;
 }

 
 /* media queries */

/* mobile devices */
 @media only screen and (min-width: 320px) and (max-width: 634px){
   .row{
     display:flex;
     flex-direction: column;
     
   }
   .about_card{
    width:300px;
    height:auto;
   }
   .about_card1{
     width:300px;
   }
   .about_card1 .text_about{
     font-size:15px;
   }
   .text_about{
     font-size:18px;

   }
   .img_about{
     width: 100%;
     height: 50%;
     
   }
   .sub_headings{
     font-size: 30px;
   }
   .navbar ul li{
    font-size: 15px;
  }
  .navbar ul li a{ 
   padding: 8px  10px;
  }
}

 /* tablet */
 @media only screen and (min-width: 635px) and (max-width: 992px){
  .row{
    display:flex;
    flex-direction: column;
  }
  .about_card{
    width: 500px;
    height:auto;
   }
   .about_card1{
     width:500px;
   }
   .about_card1 .text_about{
     font-size: 30px;
   }
   .text_about{
     font-size: 25px;}

   .about_card1 .text_about ul{
   list-style: none; 
  }
   
   .img_about{
     width: 100%;
     height: 50%;
     
   }
   .sub_headings{
     font-size: 40px;
   }
   .navbar ul li{
    font-size: 20px;
   
  }
  
  .navbar ul li a{ 
   padding: 8px  10px;
  }
}